@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2e8f0;
}
